

.form{
    margin: 0 auto;
    width: 450px;
    padding: 20px;
    background-color: white;
}

.bDelete{
    border: none;
    background-color: rgba(232,206,250,1);
    padding: 5px;
    width: 60px;
    height: 30px;
    color: black;
    border-radius: 5px;
}

.form input{
    margin: 5px 0;
    padding: 5px;
    display: block;
    width: 100%;
    box-sizing: border-box;
}

#bAdd{
    background-color: rgb(14, 100, 90);;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.2rem;
}

#tasksContainer{
    background-color: white;
    border: 5px;
    padding: 10px;
    width: 500px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.event{
    border: solid 1px #ccc;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: rgb(14, 100, 90);;
    font-size: 1.2rem;
}

.event .days {
    text-align: center;
    width: 100px;
    color: white;
    
}

.event .days .days-number{
    font-size: 30px;
    font-weight: bold;
    display: block;
    color: white;
   
}

.event .event-name{
    padding: 10px;
    width: 200px;
    color: white;
}

.event .event-date{
    padding: 10px;
    width: 150px;
    color: white;
}

.event .actions{
    padding: 10px;
    color: black;
}
